<html>
    <head>
        <title>EditKit: a modern alternative to legacy wikis</title>
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/screen.css"/>
    </head>
    <body>
        <h1>Let&rsquo;s make wikis awesome again!</h1>
        <p class="subheading">We love wikis. But we think they could use a makeover and be even better. Simpler, easier to use, so that <i>anyone</i> can participate.</p>
        <p class="subheading">Our vision is <b>EditKit</b>: a compelling modern alternative to legacy wikis.</em></p>
        <h1>Better, faster, stronger</h1>
        <div class="feature">
            <img src="/static/img/simple.png"/>
            <p>Pleasant, frictionless editing experience. No more reading help pages and struggling with markup.</p>
        </div>
        <div class="feature">
            <img src="/static/img/media.png"/>
            <p>Sharing photos is just as easy as text.</p>
        </div>
        <div class="feature">
            <img src="/static/img/html5.png"/>
            <p>The Web speaks HTML. EditKit does, too.</p>
        </div>
        <div class="feature">
            <img src="/static/img/django.png"/>
            <p>Built on the awesome Django framework, EditKit is extensible and ideal for painless integration into your existing website. Developers are people, too.</p>
        </div>
        <div class="feature">
            <img src="/static/img/import.png"/>
            <p>Make the move and bring all your stuff! We provide a tool to easily import data from legacy wiki engines, such as MediaWiki.</p>
        </div>
        <div class="subheading">
            <p>...and we&rsquo;re just getting started! <a href="/features">Learn more</a> about other features under development.</p>
        </div>
        <h1>Join us</h1>
        <div class="action">
            <img src="/static/img/install.png"/>
            <p><a href="/install">Download and install</a> EditKit and start using it with your team or community today.</p>
        </div>
        <div class="action">
            <img src="/static/img/github.png"/>
            <p><a href="http://github.com">Get the code</a> and help make it even more awesome. EditKit is free and open source.</p>
        </div>
        <div class="action">
            <img src="/static/img/keep_in_touch.png"/>
            <p><a href="http://twitter.com/editkit">Follow us on Twitter</a> to stay in the loop as this project evolves.</p>
        </div>
        <p></p>
    </body>
</html>