<html>
    <head>
        <title>EditKit: a modern alternative to legacy wikis</title>
        <link rel="stylesheet" type="text/css" href="/static/css/screen.css"/>
    </head>
    <body>
        <div class="section">
            <h1>Let&rsquo;s make wikis awesome again!</h1>
            <p class="subheading">
                We love wikis.
                <br>
                But we think they could use a makeover and be even better.
                <br>
                Simpler, easier to use, so that <i>anyone</i> can participate.
            </p>
            <p class="vision">
                Our vision is <b>EditKit</b>: a compelling modern alternative to legacy wikis.</em>
            </p>
        </div>
        <div class="section">
            <h1><em>Simpler</em>, better, faster, stronger</h1>
            <div class="feature">
                <img src="/static/img/simple.png"/>
                <h3><a href="/features#simple">Delightfully simple &raquo;</a></h3>
                <p>
                    No markup to learn. Just a pleasant, frictionless editing experience.
                </p>
            </div>
            <div class="feature">
                <img src="/static/img/media.png"/>
                <h3><a href="/features#powerful">Expressive &raquo;</a></h3>
                <p>
                    Share photos, files, and other media with ease.
                </p>
            </div>
            <div class="feature">
                <img src="/static/img/collaborative.png"/>
                <h3><a href="/features#collaborative">Collaborative &raquo;</a></h3>
                <p>
                    See every change with built-in versioning and diffing.
                </p>
            </div>
            <div class="feature">
                <img src="/static/img/html5.png"/>
                <h3><a href="/features#html5">Fluent in web standards &raquo;</a></h3>
                <p>
                    The Web speaks HTML. EditKit does, too.
                </p>
            </div>
            <div class="subheading">
                <p>
                    ...and we&rsquo;re only just getting started! <a href="/features">Learn more</a> about other features under development.
                </p>
            </div>
        </div>
        <div class="banner trans">
            <img src="/static/img/import.png"/>
            <p>
                <strong>Already running a wiki?</strong> Make the move to EditKit and bring all your stuff! We provide a tool to easily import data from legacy wiki engines, such as MediaWiki.
            </p>
        </div>
        <div class="section">
            <h1>Join us</h1>
            <div class="action">
                <img src="/static/img/install.png"/>
                <p>
                    <a href="/install">Download and install</a> EditKit and start using it with your team or community today.
                </p>
            </div>
            <div class="action">
                <img src="/static/img/github.png"/>
                <p>
                    <a href="http://github.com">Get the code</a> and help make it even more awesome. EditKit is free and open source.
                </p>
            </div>
            <div class="action">
                <img src="/static/img/keep_in_touch.png"/>
                <p>
                    <a href="http://twitter.com/editkit">Follow us on Twitter</a> to stay in the loop as this project evolves.
                </p>
            </div>
        </div>
        <p></p>
    </body>
</html>